body{
    background: lightgrey;
    margin: 0;
}
.navbar{
    background: white;
    padding: 1em;

   

}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: lightsalmon;
    font-size: 1.2em;
}
nav{
    
}
.container{
    display: flex;
}
a{
    color: #444444;
    display: block;
    padding: 8px;
}
ul{
    float: left;
    list-style-type: none;
    overflow: hidden;


}

.home{
    background-color: orange;


}
li{
    float: left;
}
li a{
    list-style-type: none;
    margin: 0;
    padding: 14 px 16px;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
}
section{
    
    padding: 5em 2em;
    
}
.hero{
    text-align: center;
}

