body{
    background-image: url("https://images-ext-2.discordapp.net/external/-kLC8u4yqzFo6sOqswenpjWpF_KwyWQsrbi2LCdNtzk/https/www.vmcdn.ca/f/files/sootoday/images/health/covid-19-coronavirus/vaccination-adobestock_128513269-%281%29.jpeg;w=960");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;

}
.navbar{
    background: white;
    padding: 1em;

   

}
.logo{
    text-decoration: none;
    font-weight: bold;
    color: lightsalmon;
    font-size: 1.2em;
}

 .container{
    display: flex;
} 

a{
    color: #444444;
    display: block;
    padding: 8px;
}
ul{
    float: left;
    list-style-type: none;
    overflow: hidden;


}

.home{
    background-color: orange;


}
.person{
    background-color: orange;


}
.vaccine{
    background-color: orange;


}
.facility{
    background-color: orange;


}
li{
    float: left;
}
li a{
    list-style-type: none;
    margin: 0;
    padding: 14 px 16px;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
}
tr :nth-child(odd) { 
    
    background-color:#C0C0C0;
}

table{
    color: rgb(0, 0, 0);
}


